<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="../styles/reset.css" />
  <link type="text/css" rel="stylesheet" href="../styles/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@100;300&display=swap" rel="stylesheet">
  <title>Currículo</title>
</head>

<body>
  <article id="page-container">
    <header>
      <h1>Carlos Marinho</h1>
      <h2>Desenvolvedor web</h2>
    </header>
    <main>
      <section class="info">
        <h3>Formação</h3>
        <dl>
          <dt>Universidade Federal Rural de Pernambuco</dt>
          <dd>Graduação em Ciência da Computação | Ago de 2016 - Atualmente</dd>
        </dl>
      </section>
      <section class="info">
        <h3>Formação complementar</h3>
        <dl>
          <dt lang="en-us">Cisco Networking Academy</dt>
          <dt>Cyber-security Essentials | 2020</dt>
          <dd>Curso de curta duração em Cyber-security Essentials. (Carga horária: 30h)</dd>

          <dt lang="en-us">Digital Innovation One</dt>
          <dt>LocalizaLabs React Developer | 2021</dt>
          <dd>
            Bootcamp com foco no desenvolvimento de projetos utilizando
            React em conjunto com outras bibliotecas como Jest, Redux,
            React Router DOM, Styled Components e TypeScript (Carga horária: 94h)
          </dd>

          <dt lang="en-us">Gama Academy</dt>
          <dt>Desenvolvimento Full Stack | 2021</dt>
          <dd>
            Bootcamp com foco no desenvolvimento de aplicações para E-commerce utilizando React,
            NodeJS, TypeScript e a plataforma VTEX.IO (Carga horária: 120h)
          </dd>

          <dt lang="en-us">freeCodeCamp</dt>
          <dt>Responsive Web Design | 2021</dt>
          <dd>
            Curso com foco no desenvolvimento de páginas web responsivas e acessíveis
            utilizando HTML e CSS (Carga horária: 300h)
          </dd>

          <dt lang="en-us">Cisco Networking Academy</dt>
          <dt>CCNA: Introdução às redes | 2022</dt>
          <dd>
            Curso com foco em entender os conceitos, bem como a criação e gerenciamento
            de uma rede de pequeno porte. (Carga horária: 70h)
          </dd>
        </dl>
      </section>
      <section class="info">
        <h3>Idiomas</h3>
        <ul>
          <li>Português - nativo</li>
          <li>Inglês - básico/técnico</li>
        </ul>
      </section>
    </main>
    <aside>
      <img id="avatar" src="../assets/avatar.jpeg" alt="Foto do meu rosto" />
      <section class="info">
        <h3>Histórico</h3>
        <p>
          Sou estudante de ciência da computação e estou buscando a primeira experiência,
          mais especificamente na área de desenvolvimento web. Atualmente estou desenvolvendo
          projetos pessoais, com o objetivo de praticar o uso de tecnologias e conceitos estudados.
        </p>
      </section>
      <section class="info">
        <h3>Habilidades</h3>
        <dl>
          <dt>Me sinto confiante em:</dt>
          <dd>HTML, CSS e JavaScript</dd>
          <dd>React</dd>
          <dd>Git e Github</dd>
          <dd>Typescript</dd>
        
          <dt>Tenho conhecimentos de:</dt>
          <dd>Redux</dd>
          <dd>A11y</dd>

          <dt>Com um pouco de ajuda consigo trabalhar com:</dt>
          <dd>NodeJS</dd>
          <dd>Express</dd>
        </dl>
      </section>
      <section class="info">
        <h3>Contato</h3>
        <ul>
          <li><span>E-mail:</span> carlos.marinho20@outlook.com</li>
          <li><span>Telefone:</span> (81) 99546-5008</li>
          <li>
            <span>Github:</span>
            <a href="https://github.com/iCarlosMarinho/" rel="noopener noreferer" target="_blank">
              Seguir o link
            </a>
          </li>
          <li>
            <span>Linkedin:</span>
            <a href="https://www.linkedin.com/in/carloshmarinho/" rel="noopener noreferer" target="_blank">
              Seguir o link
            </a>
          </li>
          <li><span>Endereço:</span> R. Lúcio Mendonça, 125, Vera Cruz</li>
        </ul>
      </section>
    </aside>
    <footer>
      <span>Desenvolvido por Carlos Marinho</span>
    </footer>
  </article>
</body>

</html>