:root {
  --primary: #2C3E50;
  --secondary: #E74C3C;
  --text: #171717;
  --background: #F2F2F0;
}

#page-container {
  background-color: var(--background);
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "aside header"
  "aside main"
  "aside main"
  "aside footer";
  grid-template-rows: calc(100vw * 0.19) repeat(2, min-content) 80px;
  grid-template-columns: 25% 75%;
  column-gap: 20px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--background);
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 5em;
  color: var(--secondary);
}

h2 {
  font-size: 2em;
  color: var(--primary);
}

dt {
  font-weight: bold;
  margin-bottom: 10px;
}

dd + dt {
  margin-top: 30px;
}

header, aside, main, footer {
  display: flex;
  flex-direction: column;
}

aside, main {
  gap: 50px;
}

aside {
  background-color: var(--primary);
  grid-area: aside;
  align-items: center;
  padding: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
  color: var(--background);
}

h3 {
  color: var(--text);
}

aside h3 {
  color: var(--secondary);
}

dt {
  font-style: italic;
}

aside::after {
  background-color: var(--secondary);
  content: "";
  width: calc(100% + 40px);
  height: 130px;
  clip-path: polygon(0 30%, 50% 80%, 100% 30%, 100% 50%, 50% 100%, 0 50%);
}

header {
  grid-area: header;
  gap: 25px;
  align-items: flex-end;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  justify-content: end;
  align-items: center;
}

#avatar {
  width: 95%;
  clip-path: circle(50% at center);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.icon {
  width: 25px;
}

.socials-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  #page-container {
    grid-template-columns: 35% 65%;
    gap: 20px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 900px) {
  #page-container {
    grid-template-columns: 42% 58%;
    gap: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  #page-container {
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "footer";
    grid-template-columns: 100%;
    gap: 20px;
  }
}