:root {
  --page-bg: #4d77ff;
  --call-button-bg: #5DE6EC;
  --primary: #56bbf1;
  --secondary: #f2fa5a;
  --text-primary: #f1e1a6;
  --text-secondary: #f4bbbb; 
  --text-tertiary: #767676;
}

#root {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: repeat(auto, 3);
  grid-template-columns: 1fr;
  background-color: var(--page-bg);
  padding: 24px;
  gap: 24px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  height: fit-content;
}

.title {
  font-size: 2em;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  color: var(--secondary);
}

.search-button {
  height: 48px;
  min-width: 80px;
  width: 30%;
  border-radius: 48px;
  border: none;
  color: var(--text-tertiary);
  background-color: var(--secondary);
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.info h2 {
  font-size: 1.5em;
  font-family: helvetica, sans-serif;
  color: var(--text-primary);
}

.info h3 {
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  color: var(--text-secondary);
  font-weight: 700;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 8px 24px;
  border-radius: 10px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-count {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--secondary);
}

.actions-button {
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-weight: 700;
  border: none;
  color: var(--secondary);
  background-color: var(--call-button-bg);
  padding: 8px;
}

.actions {
  display: flex;
  gap: 8px;
}